<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    {{ encore_entry_link_tags('admin') }}
</head>
<body>
    <div id="admin-root"></div>
    {{ encore_entry_script_tags('admin') }}
</body>
</html>
