<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meu Portfólio{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ asset('css/output.css') }}">
</head>

<body class="{% block body_class %}{% endblock %}">

    <div class="relative flex w-full flex-col">

        {% include 'partials/header.html.twig' %}

        <div class="flex w-full">
            <div class="fixed inset-0 flex justify-center sm:px-8">
                <div class="flex w-full max-w-7xl lg:px-8">
                    <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
                </div>
            </div>
        </div>

        <div class="order-last mt-[calc(--spacing(16)-(--spacing(3)))]"></div>
        
        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}

    </div>

    {# Script global #}
    <script src="{{ asset('js/script.js') }}"></script>

</body>
</html>
